<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				
				<rule name="No WWW" enabled="true" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
					</conditions>
					<action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="Limonade" enabled="true" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" ignoreCase="false" />
			   		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.php?uri=/{R:1}" appendQueryString="true" />
				</rule>
				
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
  	<customErrors mode="Off"/>
  </system.web>
</configuration>
